body{
    background-image: linear-gradient(100deg,rgb(242, 120, 242),rgb(164, 73, 230));
    transition: background-color 2.5s;
}
#quiz{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(65deg,rgb(23, 227, 142),rgba(154, 56, 207, 0.837));
    /* background-color: rgb(46, 39, 23); */
    color: rgb(245, 245, 245);
    margin: auto;
    border: none;
    border-radius: 20px;
    
    
}
#Question{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    color: rgba(3, 3, 3, 0.858);
    font-size: 3rem;

}
.options{
    margin: 10px 5px;
    padding: 1rem;
    border-style: groove;
    border-color: rgb(204, 194, 194);
    border-radius: 15px 50px;
    transition: 1s;
    font-size: 1.5rem;
}
#next{
    padding: 5px 5dvb;
    display: block;
    margin: auto;
    margin-top: 1rem;
    border-radius: 7px;
    background-color: aqua;
    
}